

<div style="position: relative">
  <div class="alert alert-danger" *ngIf="errorMsg"> {{errorMsg}}</div>

  <div class="container card" style="margin-top: 10px;">
    <filter-date (textSelected)="applyFilters($event)" [initialDate]="initialDate" [finalDate]="finalDate" (dateSelected)="onSubmitDate($event)" ></filter-date>
  </div>

  <div>
    <ngx-loading [show]="loading"></ngx-loading>
  </div>

  <div class="container-xl card" style="margin-top: 10px;">

    <table #tables mat-table [dataSource]="dataSource" class="table caption-top table-hover align-middle" matSort>
      
      <ng-container matColumnDef="img">
        <th mat-header-cell scope="col" *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let venda">
          <div class="col">
            <img [src]="anuncioImg.getImage(venda.anuncio)" alt="Image" style="height: 48px; width: 48px;">
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      
      <div matColumnDef="ml-id">
        <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Produto</th>
        <td mat-cell *matCellDef="let venda" >{{venda.anuncio.mlId}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </div>

      <div matColumnDef="descricao">
        <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Produto</th>
        <td mat-cell *matCellDef="let venda" >{{venda.anuncio.descricao}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </div>
    
          
      <div matColumnDef="quantidade">
        <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Quantidade</th>
        <td mat-cell *matCellDef="let venda" >{{venda.quantidade}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </div>

      <div matColumnDef="quantidadeCancelado">
        <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Devolução</th>
        <td mat-cell *matCellDef="let venda" >{{venda.quantidadeCancelado}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </div>
    
      <div matColumnDef="somaTaxa">
        <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Ml Taxa total</th>
        <td mat-cell *matCellDef="let venda" >{{venda.somaCusto | currency: "BRL"}}</td>
        <td mat-footer-cell *matFooterCellDef> {{sumTaxaMl()  | currency: "BRL"}} </td>
      </div>

      <div matColumnDef="somaFrete">
        <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Frete</th>
        <td mat-cell *matCellDef="let venda">{{venda.somaFrete | currency: "BRL" }}</td>
        <td mat-footer-cell *matFooterCellDef> {{sumFrete() | currency: "BRL"}} </td>
      </div>

      <div matColumnDef="somaImposto">
        <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Imposto</th>
        <td mat-cell *matCellDef="let venda" >{{venda.somaImposto | currency: "BRL"}}</td>
        <td mat-footer-cell *matFooterCellDef> {{sumImposto()  | currency: "BRL"}} </td>
      </div>

      <div matColumnDef="somaVenda">
        <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Venda Total</th>
        <td mat-cell *matCellDef="let venda">{{venda.somaVenda | currency: "BRL" }}</td>
        <td mat-footer-cell *matFooterCellDef> {{sumVendaTotal()  | currency: "BRL"}} </td>

      </div>

      <div matColumnDef="somaLucro">
        <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>Lucro Liquido</th>
        <td mat-cell *matCellDef="let venda">{{venda.somaLucro | currency: "BRL" }}</td>
        <td mat-footer-cell *matFooterCellDef> {{sumLucro() | currency: "BRL"}} </td>
      </div>


      <div matColumnDef="btnDetail">
        <th mat-header-cell scope="col" *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let venda"><img class="hover-icon" (click)="openVendasDetailDialog(venda)"
            src="../../../assets/list-columns.svg" width="16" height="16"></td>
        <td mat-footer-cell *matFooterCellDef></td>
      </div>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </div>
  <ng-template class="container-sm dialog" #vendasDetailDialog>
    <mat-dialog-content class="table-responsive table-container card">
      <vendas-detail></vendas-detail>
    </mat-dialog-content>
  </ng-template>
</div>




  
  