
<header class="navbar bd-navbar sticky-top header">
  <div class="container-fluid">
      <ul class="list-inline">
        <li class="list-inline-item fs-2" style="padding-right: 10px;" >
          <a routerLink="" >
          <b>ML-Manager</b>
          </a>
        </li>
        <li class="list-inline-item fs-5 list-item">
          <a class="list-item" routerLink="/cadastrar-anuncio">Cadastrar</a>
        </li>
        <li class="list-inline-item fs-5 list-item">
          <a class="list-item" routerLink="/list-ordens">Ordens</a>
        </li>
        <li class="list-inline-item fs-5 list-item">
          <a class="list-item" routerLink="/list-vendas">Vendas</a>
        </li>
        <li class="list-inline-item fs-5 list-item">
          <a class="list-item" routerLink="/promocoes">Promoções</a>
        </li>
      </ul>
      <ul>
        <li class="list-inline-item fs-5">
          <label class="form-label" style="color: white; font-size: 17px;">Selecione Usuário</label>
        </li>
        <li class="list-inline-item fs-5 list-item">
          <div>
            <select class="form-select" (change)="selectUser($event)" [(ngModel)]="viewSelectedUser" name="user">
              <option *ngFor="let user of users" [value]="user.name">{{user.name}}</option>
            </select>
          </div>
        </li>
      </ul>



  </div>
</header>

<router-outlet *ngIf="selectedUser"></router-outlet>
