.click-ml-url{
  color: blue; /* Set the text color to blue */
  text-decoration: underline; /* Add an underline to the text */
  cursor: pointer;
}

.hover-icon{
  cursor: pointer;
}

.limit-content {
  height: calc(88vh - 24px);
  overflow-x: scroll;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80vw;
  }

.currency-size{
  width: 80px;
}

.stick-top{
  position: sticky;
  top: 0px;  /* 0px if you don't have a navbar, but something is required */
  background: white;
  z-index: 1;
}

